<div class="container-booking">
  <p>My bookings</p>
  <% @bookings.each do |booking| %>
    <%= booking.board.name %>
  <% end %>
  <div class="container-bookings-index">
    <% @bookings.each do |booking| %>
      <div class="booking-cards">
        <p><%= booking.board.name %></p>
        <p><%= booking.board.shape %></p>
        <p><%= booking.start_on.strftime("%d %m %Y") %></p>
        <p><%= booking.end_on.strftime("%d %m %Y") %></p>
        <p><%= booking.user.first_name %> <%= booking.user.last_name %></p>
        <p><%= booking.total_price %>$</p>
        <p><%= booking.board_id %></p>
        <% if booking.status == "accepted" %>
          <h2 style="background-color: green opacity:0.9"> <%= booking.status %></h2>
        <% elsif booking.status == "refused" %>
          <h2 style="background-color: #CD4A49 opacity:0.9"> <%= booking.status %></h2>
        <% else %>
          <h2><%= booking.status %></h2>
        <% end %>
        <div class="card-category" style="background-image: url('<%= cl_image_path booking.board.photo.key %>')"></div>
        </div>
      <% end %>
    </div>
  </div>
</div>
