<div class="container-show-user">
  <div class="container-user-infos">
    <div class="banner-user-infos">
    <%= @user.first_name %><br>
    <%= @user.location %><br>
    <%= @user.phone_number %><br>
    <%= @user.email %><br>
    <div class="user-photo-show">
      <%= cl_image_tag @user.photo.key %>
    </div>
  </div>
    <div class="user-actions">
      <% if user_signed_in? %>
        <h1>my bookings</h1>
          <% @user.bookings.each do |booking| %>
            <div class="booking-ticket">
              <p><%= booking.board.name %></p>
              <p><%= booking.board.user.first_name %></p>
              <p><%= booking.start_on %></p>
              <p><%= booking.end_on %></p>
              <p><%= booking.board.user.location %></p>
            </div>
              <% end %>
          <h1>my rentals</h1>
          <h1>my wallet</h1>
          <% else %>
        <%= "you have to login to meet this member" %>
      <% end %>
    </div>
  </div>
  <div class="container-all-boards">
    <% @user.boards.each do |user_board| %>
    <div class="boards-cards">
      <%= user_board.name %>
      <%= user_board.description %>
      <%= user_board.address %>
      <%= user_board.size %>"
      <%= user_board.price %>€
      <div class="image-sizing">
        <img src="<%= cl_image_path user_board.photo.key %>">
      </div>
        <div class="buttons">
          <div class="btn btn-warning">
            <%= link_to "Réserver", user_board %>
          </div>
        </div>
    </div>
    <% end %>
  </div>
</div>
