<div class="title">
  <h1>See all the boards</h1>
</div>

<div class="container-body">
  <div class="boards-cards">
    <% @boards.each do |board| %>
    <%= board.name %>
    <%= board.brand %>
    <%= board.price %>
    <%= board.contact %>
    <%= board.description %>
    <% end %>
  </div>
</div>
