<div class="title">
  <h1>See all the boards</h1>
</div>

<div class="container-body">
  <% @owners.each do |owner| %>
  <%= owner.id %>
  <%= owner.account.user.first_name %>
  <%end%>
  <p>Heure locale <%= Time.now %> <%= Date.today %><p>
  <div class="index-boards-cards">
    <% @boards.each do |board| %>
      <div class="boards-cards">
        <div class="user-infos">
          <div class="user-details">
            <%= board.owner.account.user.first_name %><br>
            <%= board.owner.account.user.location %><br>
            <%= board.owner.account.user.phone_number %><br>
            <%= board.owner.address %><br>
            <%= board.owner.phone_number %>
          </div>
          <div class="user-photo">

          </div>
        </div>
          <hr style="width:90%", size="5", color=black>
        <div class="board-infos">
          <div class="board-details">
            <a><%= board.owner.name %><br></a>
            <a><%= board.owner.address %><br></a>
            <a><%= board.brand %><br></a>
            <a><%= board.price %>€<br></a>
            <a><%= board.guarantee_amount %>€<br></a>
            <a><%= board.availability %><br></a>
          </div>
          <div class="board-photo">
            <img style="background-image: url('<%= cl_image_path board.photo.key %>')"><br>
          </div>
        </div>
        <div class="buttons">
          <div class="btn btn-warning">
            <%= link_to "Voir plus", board_path(board) %>
          </div>
          <div class="btn btn-warning">
            <%= link_to "Contact", owner_boards_path %>
          </div>
        </div>
        </div>
      <% end %>
  </div>
</div>
