<div class="title">
  <h1>See all the boards</h1>
</div>

<div class="container-body">
  <div class="index-boards-cards">
    <% @boards.each do |board| %>
      <div class="boards-cards">
        <div class="user-infos">
          <div class="user-details">
            <%= board.user.first_name %><br>
            <%= board.user.location %><br>
            <%= board.user.phone_number %><br>
            <%= board.user.email %><br>
          </div>
          <div class="user-photo">
            <img style="background-image: url('<%= cl_image_path board.user.photo.key %>')" ><br>
          </div>
        </div>
          <hr style="width:90%", size="5", color=black>
        <div class="board-infos">
          <div class="board-details">
            <a><%= board.name %><br></a>
            <a><%= board.brand %><br></a>
            <a><%= board.size %><br></a>
            <a><%= board.supplier_id %><br></a>
            <a><%= board.price %>€<br></a>
            <a><%= board.guarantee_amount %>€<br></a>
            <a><%= board.address %><br></a>
          </div>
          <div class="board-photo">
            <img style="background-image: url('<%= cl_image_path board.photo.key %>')"><br>
          </div>
        </div>
        <div class="buttons">
          <div class="btn btn-warning">
            <%= link_to "Voir plus", board_path(board) %>
          </div>
          <div class="btn btn-warning">
            <%= link_to "Contact", board.user %>
          </div>
        </div>
        </div>
      <% end %>
  </div>
</div>
