<div>
  <h1>Add a board</h1>
</div>

<div class="button">
  <%= link_to "Home", "/" %>
</div>
  <div class="container-body">
    <div class="col-6">
      <%= simple_form_for(@board) do |f| %>
        <div class="form-inputs">
          <%= f.input :name, placeholder: 'Nom de la planche' %>
          <%= f.input :price, placeholder: 'Prix de la location' %>
          <%= f.input :guarantee_amount, placeholder: 'Montant de la garantie' %>
          <%= f.label :size %>
          <%= f.select :size, Board::SIZE.each.map { |size| [size] } %>
          <%= f.label :shape %>
          <%= f.select :shape, Board::SHAPE.each.map { |shape| [shape] } %>
          <%= f.label :brand %>
          <%= f.select :brand, Board::BRAND.each.map { |brand| [brand] } %>
          <%= f.input :address %>
          <%= f.input :description, as: :text %>
          <%= f.input :contact %>
          <%= f.input :photo, as: :file, direct_upload: 'true' %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, method: :post, class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
